:host {
  display: block;
}
.ball-outer{
  width: min-content;
  height: var(--ball-size);
  position: relative;
  font-size: calc(var(--ball-size) * 0.2);
  --transition-delay: calc(var(--transition-duration) * 0.5);
  --text-color: 255, 255, 255;
  --theme-opacity-1: calc(var(--theme-color) / 2);
  --width-ratio: 3;
}
.ball-outer audio{
  display: none;
}
.ball {
  position: relative;
  width: max-content;
  /* width: var(--ball-size); */
  transition: width var(--transition-duration);
  transition-delay: var(--transition-delay);
}
.ball:hover{
  /* width: calc(var(--ball-size) * var(--width-ratio)); */
}

.left{
  width: var(--ball-size);
  height: var(--ball-size);
  background-color: var(--theme-color);
  border-radius: 50%;
  position: relative;
  top:0px;
  left: 0px;
  z-index: 3;
  animation: bounce 5s infinite linear forwards;
  animation-play-state: paused;
}
.playing .left{
  animation-play-state: running;
}
@keyframes bounce {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes wave {
  0% {
    box-shadow: 0 0 0 0  rgba(var(--theme-color), 0.7);
  }
  100% {
    box-shadow: 0 0 0 30px  rgba(var(--theme-color), 0);
  }

}
.cover{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.playing .cover{
  animation: wave 1s infinite linear forwards;
}
.cover img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  user-select: none;
}
.right{
  width: calc(var(--ball-size) * 1/2);
  height: var(--ball-size);
  background-color: rgb(var(--theme-color));
  position: relative;
  margin-left:  calc(var(--ball-size) * 0.5);
  top: calc(var(--ball-size) * -1);
  overflow: hidden;
  transition: width var(--transition-duration);
  transition-delay: var(--transition-delay);
  box-sizing: border-box;
  border: calc(var(--ball-size) * 0.1) solid rgb(0,0,0,0.2);
  border-top-right-radius: calc(var(--ball-size) * 1);
  border-bottom-right-radius: calc(var(--ball-size) * 1);
  box-shadow: 0 0 10px rgba(var(--theme-color), 0.7);
}
.right .right-inner{
  height: 100%;
  padding-left: calc(var(--ball-size) * 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(var(--text-color));
}
.ball-outer:hover .right{
  width: calc(var(--ball-size) * calc(var(--width-ratio) - 0.5));
}
.right-inner .title{
  font-size: calc(var(--ball-size) * 0.2);
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.right-inner .artist{
  font-size: calc(var(--ball-size) * 0.15);
  text-align: center;
  margin-top: calc(var(--ball-size) * 0.1);
}